In [1]:
import pandas as pd
import numpy as np
from tkinter import *
from matplotlib.figure import Figure
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg

In [2]:
# Menghasilkan data acak
np.random.seed(0)
tanggal = pd.date_range(start="2024-01-01", periods=100, freq='D')
penjualan = np.random.randint(100, 500, size=(100,))
harga = np.random.uniform(10, 50, size=(100,))
data = pd.DataFrame({'Tanggal': tanggal, 'Penjualan': penjualan, 'Harga': harga})
data

      Tanggal  Penjualan      Harga
0  2024-01-01        272  36.253184
1  2024-01-02        147  15.527318
2  2024-01-03        217  17.863294
3  2024-01-04        292  24.749007
4  2024-01-05        423  42.839729
..        ...        ...        ...
95 2024-04-05        327  32.764030
96 2024-04-06        379  26.287332
97 2024-04-07        307  12.766680
98 2024-04-08        497  37.897151
99 2024-04-09        473  28.141707

[100 rows x 3 columns]

In [3]:
# Analisis data
rata_penjualan = data['Penjualan'].mean()
rata_harga = data['Harga'].mean()
total_pendapatan = (data['Penjualan'] * data['Harga']).sum()

In [4]:
# Membuat GUI
root = Tk()
root.title("Analisis Penjualan Ayam Kentucky")

''

In [5]:
# Membuat frame untuk tabel data
frame = Frame(root)
frame.pack(side=TOP, fill=BOTH, expand=True)

In [6]:
# Menampilkan data dalam bentuk tabel
table = Text(frame, height=10, width=80)
table.pack(side=LEFT, fill=BOTH, expand=True)
table.insert(END, data.to_string(index=False))

In [7]:
# Membuat frame untuk analisis
analysis_frame = Frame(root)
analysis_frame.pack(side=TOP, fill=BOTH, expand=True)

In [8]:
# Menampilkan hasil analisis
analysis_label = Label(analysis_frame, text=f"Rata-rata Penjualan: {rata_penjualan:.2f}\nRata-rata Harga: {rata_harga:.2f}\nTotal Pendapatan: {total_pendapatan:.2f}", justify=LEFT)
analysis_label.pack(side=LEFT, padx=10)

In [9]:
# Membuat grafik penjualan
fig = Figure(figsize=(5, 4), dpi=100)
plot = fig.add_subplot(111)
plot.plot(data['Tanggal'], data['Penjualan'], marker='o', color='b')
plot.set_title('Grafik Penjualan Ayam Kentucky')
plot.set_xlabel('Tanggal')
plot.set_ylabel('Penjualan')

Text(0, 0.5, 'Penjualan')

In [11]:
def simpan_data_ke_csv():
    data.to_csv('penjualan_ayam_kentucky.csv', index=False)
    print("Data telah disimpan ke file 'penjualan_ayam_kentucky.csv'")

# Tambahkan tombol di GUI untuk menyimpan data
tombol_simpan = Button(root, text="Simpan Data ke CSV", command=simpan_data_ke_csv)
tombol_simpan.pack(side=TOP, pady=5)

In [12]:
# Menambahkan grafik ke GUI
canvas = FigureCanvasTkAgg(fig, master=root)
canvas.draw()
canvas.get_tk_widget().pack(side=TOP, fill=BOTH, expand=True)

root.mainloop()

Data telah disimpan ke file 'penjualan_ayam_kentucky.csv'