In [1]:
import pandas as pd

In [2]:
dataset=pd.read_excel("D:/Bahan Statistika/Data jumlah perkebunan besar 2009-2017.xlsx")

In [3]:
dataset

     Karet Kering  Minyak Sawit  Biji Sawit
0           50.00       1427.10      208.40
1           45.50       1188.00      186.50
2           40.10       1346.70      217.90
3           38.80       1193.50      270.90
4           47.20       1239.50      291.40
..            ...           ...         ...
103         34.32       1897.57      379.51
104         80.08       1886.92      377.38
105         78.15       1840.43      368.09
106         69.33       1843.96      368.79
107         85.09       1818.06      363.61

[108 rows x 3 columns]

In [4]:
x=dataset["Karet Kering"]
y=dataset["Minyak Sawit"]
z=dataset["Biji Sawit"]

In [5]:
dataset.describe()

       Karet Kering  Minyak Sawit  Biji Sawit
count    108.000000    108.000000  108.000000
mean      48.794815   1468.461019  305.941296
std       11.937596    266.044679   50.403974
min       31.000000    867.300000  186.500000
25%       41.032500   1276.407500  265.297500
50%       45.835000   1486.030000  305.410000
75%       52.255000   1661.627500  345.580000
max       85.090000   2001.680000  400.340000

In [6]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in d:\program statistika rafif\anaconda\new folder\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in d:\program statistika rafif\anaconda\new folder\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in d:\program statistika rafif\anaconda\new folder\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in d:\program statistika rafif\anaconda\new folder\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\program statistika rafif\anaconda\new folder\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000029D3D52B3D0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/scikit-learn/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000029D4041FD90>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/scikit-learn/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000029D40406C10>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/scikit-learn/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000029D40407490>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/scikit-learn/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000029D404079D0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/scikit-learn/

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.1, random_state=0)